<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" id="bsdp-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" id="awesome-css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">So, here you are</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About you
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/calendar}">New booking</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center">
    <div>
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        </p>
    </div>
    <div>
        <h1>List of Bookings</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Holiday from</th>
                <th>Holiday to</th>
                <th>Comment</th>
                <th>Cancellation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="holiday: ${listHolidays}">
                <td th:text="${holiday.holidayFrom}"></td>
                <td th:text="${holiday.holidayTo}"></td>
                <td th:text="${holiday.comment}"></td>
                <td>
                    <form th:action="@{/delete_holiday}" method="post">
                        <input type="hidden" name="id" th:value="${holiday.id}"/>
                        <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <div class="container">
        <input type="submit" value="Sign Out"/>
    </div>
</form>
</body>
</html>